<div class="ui middle aligned centered grid">
	<div class="row">
		<div class="sixteen wide">
			<h1 class="ui center aligned icon header">
				<i class="green circular leaf icon"></i>
				EPA Around Me
				<div class="sub header">Quickly access environmental health information and alerts in your area</div>
			</h1>
			<div id="query" class="ui icon fluid huge input">
				<input id="search" type="text" placeholder="Enter address, city, state, and/or zipcode" ng-model="query" enter-key="search()">
				<i class="inverted circular search link icon" ng-click="search()"></i>
			</div>
		</div>
	</div>
</div>
