/* General */

body > .content, .menu-wrapper {
	 max-width: 1000px;
	 margin: 15px auto;
	 padding: 0 1rem;
}

.hoverable {
	cursor: pointer!important;
}

/* Menu */

.selected {
	box-shadow: 0 2px 0 inset;
}

/* Google Map */

#map {
	height: 400px;
	margin-bottom: 1em;
}
