/* General */

body > .content, .menu-wrapper {
	 max-width: 1000px;
	 margin: 15px auto;
	 padding: 0 1rem;
}

.hoverable {
	cursor: pointer!important;
}

/* Menu */

.selected {
	box-shadow: 0 2px 0 inset;
}

/* Google Map */

#map {
	height: 400px;
	margin-bottom: 1em;
}

/* Mobile Screen CSS */

@media screen and (max-width: 480px) {
	.ui.stackable.grid > .column:not(.row) {
		padding-left: 0!important;
		padding-right: 0!important;
	}

	#query.ui.input {
		font-size: 1em;
	}

	.ui.table {
		font-size: .75em!important;
	}

	#map {
		height: 200px;
	}
}
